{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="container">
    {% include "_flashes.html" %}
    <div class="row">
        <div class="col">
            <h1 class="title text-center fs-1">Posts</h1>
        </div>
    </div>
    <div class="row p-5">
        <div class="col text-center">
            <form action="{{ url_for('posts.write') }}" method="get">
                <input type="submit" value="Write post" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="row">
        {% for post, user in pagination.items %}
        <div class="col-md-4 p-3">
            <div class="text-center">
                <a href="{{ url_for('posts.get', id=post.id) }}">
                    {{ loop.index }} {{ post.title }}
                </a>
            </div>
            <div class="text-center"> Category: {{ post.category.value }}</div>
            <div class="text-center">Written by: {{ user.login }}</div>
            <div class="text-center">Created at: {{ post.created_at }}</div>
            <div class="text-center">
                <img src="{{ image(post.image) }}" alt="">
            </div>

            {% if current_user.id == post.user_id %}
            <div class="d-flex justify-content-center p-2 gap-2">
                <form action="{{ url_for('posts.edit', id=post.id) }}" method="get">
                    <input type="submit" value="Edit" class="btn btn-primary">
                </form>
                <form action="{{ url_for('posts.delete', id=post.id) }}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger" 
                    onclick="return confirm('Are you sure you want to delete?')">
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="pagination justify-content-center gap-3">
        {% if pagination.has_prev %}
            <a href="{{ url_for('posts.show', page=pagination.prev_num) }}">Previous</a>
        {% else %}
            <span class="disabled">Previous</span>
        {% endif %}
    
        {% if pagination.has_next %}
            <a href="{{ url_for('posts.show', page=pagination.next_num) }}">Next</a>
        {% else %}
            <span class="disabled">Next</span>
        {% endif %}
    </div>
    
</div>

{% endblock %}
