{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="container">
    {% include "_flashes.html" %}
    <div class="row">
        <div class="col">
            <h1 class="title text-center fs-1">Posts</h1>
        </div>
    </div>
    <div class="row p-5">
        <div class="col">
            <form action="{{ url_for('posts.write') }}" method="get">
                <input type="submit" value="Write post" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="row text-center text-wrap">
        {% for post in posts %}
        <div class="col p-3">
            {{ post.title }}

            {% if current_user.id == post.user_id %}
            <div class="d-flex justify-content-center p-2 gap-2">
                <form action="#" method="post">
                    <input type="button" value="Edit" class="btn btn-primary">
                </form>
                <form action="#" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}