{% extends "base.html" %}
{% import "_fields.html" as field %}
{% block title %} {{ super() }} {% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('user.static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}

<div class="justify-content-center">
    <div class="border rounded-3 p-5">
        {% for user in users %}
        <div class="text-center">
            <div class="list-group" role="tablist">
                <a class="list-group-item list-group-item-action list-users" data-toggle="list" href="{{ user.id }}"
                    role="tab"> {{ user.login }} </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}