{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}
{% import '_fields.html' as field %}

{% include "_flashes.html" %}


<div class="d-flex">
    <div class="row justify-content-center flex-wrap gap-5">
        <div class="border rounded w-50">
            <form action="{{ url_for('cookies.add') }}" method="post" class="form-check">
                {{ field.add_cookies_form(cookies_form) }}
            </form>
        </div>
        <div class="rounded w-50">
            <form action="{{ url_for('cookies.remove') }}" method="post" class="form-check">
                {{ field.rm_cookies_form(cookies_form) }}
            </form>
        </div>
        <div class="rounded">
            <table class="border" aria-describedby="Show list of cookies">
                <thead>
                    <tr>
                        <th colspan="2">Cookies:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in cookies %}
                    <tr>
                        <td> {{ name }}: </td>
                        <td> {{ cookies.get(name) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}