{% set menu = [
    {"text": "Contact", "link": url_for("base.contact")},
    {"text": "Todo", "link": url_for("todo.todo_list")},
    {"text": "Posts", "link": url_for("posts.show")},
    {"text": "About", "link": url_for("base.about")}
] %}

{% if current_user.is_anonymous %}
    {% set menu = menu + [
        {"text": "Login", "link": url_for("user.login")},
        {"text": "Register", "link": url_for("user.register")}
    ] %}
{% else %}
    {% set menu = menu + [
        {"text": "Account", "link": url_for("user.account")}
    ] %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="{{ url_for('base.index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for item in menu %}
                <li class="nav-item"><a class="nav-link" href="{{ item.link }}"> {{ item.text }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
