{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock %}
{% import "_fields.html" as field %}

{% block content %}

<div class="d-flex justify-content-center flex-wrap">
    <div class="flex-row w-100">
        <h1 class="title p-3 text-center w-100">Feedback</h1>
    </div>
    <div>
        {% for comment, user in comments %}
        <div>{{ comment.comment }}</div>
        <div class="pt-3">Published in: {{ comment.comment_date }}</div>
        <div class="pt-3">Published by: {{ user.login }}</div>
        <div class="d-flex pb-5 gap-2">
            {% if current_user.id == comment.user_id %}
            <div class="flex-row py-2">
                <form action="{{ url_for('feedback.remove', id=comment.id) }}" method="post">
                    <input type="submit" value="Remove" class="btn btn-danger">
                </form>
            </div>
            <div class="py-2">
                <form action="#" method="post">
                    <input type="submit" value="Update" class="btn btn-success">
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="flex-row">
        <div>
            <form action="{{ url_for('feedback.add') }}" method="post" enctype="multipart/form-data">
                {{ field.feedback_form(form) }}
            </form>
        </div>
    </div>
</div>

{% endblock %}