{% macro logout_form(form) %}
<div class="form-group p-2">
    {{ form.submit(class="btn btn-primary") }}
</div>
{% endmacro %}

{% macro login_form(form) %}
{{ form.csrf_token() }}
<div class="form-group p-2">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.submit(class="btn btn-primary") }}
</div>

{% endmacro %}

{% macro change_password_form(form) %}
{{ form.csrf_token() }}
<div class="form-group p-2">
    {{ form.new_password.label }}
    {{ form.new_password(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.repeat_password.label }}
    {{ form.repeat_password(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.submit(class="btn btn-primary") }}
</div>

{% endmacro %}

{% macro add_cookies_form(form) %}
<div class="form-group p-2">
    {{ form.name.label }}
    {{ form.name(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.value.label }}
    {{ form.value(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.submit(class="btn btn-primary") }}
</div>

{% endmacro %}

{% macro rm_cookies_form(form) %}
<div class="form-group p-2">
    {{ form.name.label }}
    {{ form.name(class="form-control") }}
</div>
<div class="form-group p-2">
    {{ form.submit(class="btn btn-primary") }}
</div>

{% endmacro %}

{% macro todo_form(form) %}
<div class="form-group p-2">
    {{ form.task.label }}
    {{ form.task(class="border rounded form-control w-75") }}
</div>
<div class="form-group p-2">
    {{ form.save(class="btn btn-primary form-control w-auto") }}
</div>
{% endmacro %}