{% extends "base.html" %}
{% import "_fields.html" as field %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="col-lg-12 border rounded-5 p-5">
    {% include "_flashes.html" %}
    <div class="container text-center form-group py-5">
        <div class="container py-2">
            User: {{ current_user.login }}
            <form action="{{ url_for('logout') }}" method="post">
                {{ field.logout_form(form) }}
            </form>
        </div>
        <div class="p-2">
           Email: {{ current_user.email }}
        </div>
        <div class="col-lg-8 offset-lg-2">
            <div class="form-group">
              <label for="about">About me</label>
              <textarea id="about" name="about" class="form-control" rows="3"></textarea>
            </div>
          </div>
    </div>
</div>

{% endblock %}