{% extends "base.html" %}
{% import "_fields.html" as field %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="col-lg-12 border rounded-5 p-5">
    {% include "_flashes.html" %}
    <div class="container text-center form-group py-5">
        <h2>Account info</h2>
        <div class="container py-2">
            <div>
                <img src="{{ image_file }}" alt="profile" class="rounded-circle account-img">
            </div>
            <div>
                <form action="{{ url_for('logout') }}" method="post">
                    {{ field.logout_form(logout_form) }}
                </form>
            </div>
            <div class="p-2">
                Name: {{ current_user.name }}
            </div>
            <div class="p-2">
                Surname: {{ current_user.surname }}
            </div>
            <div class="p-2">
                User: {{ current_user.login }}
            </div>
            <div class="p-2">
                Email: {{ current_user.email }}
            </div>
            <div class="p-2">
                Last seen: {{ current_user.last_seen }}
            </div>
            <div class="p-2">
                Registered at: {{ current_user.register_date }}
            </div>
        </div>
    </div>
    <div class="d-flex gap-5 flex-wrap justify-content-center">
        <div>
            <form action="{{ url_for('update_account') }}" method="post" enctype="multipart/form-data">
                {{ field.update_account_form(update_form) }}
            </form>
        </div>
        <div>
            <form action="{{ url_for('change_password') }}" method="post">
                {{ field.change_password_form(password_form) }}
            </form>
        </div>
    </div>
</div>

{% endblock %}