{% extends "base.html" %}
{% import "_fields.html" as field %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="container mx-auto">
    <div class="col-md-6 offset-md-3 border rounded p-3">
        <form action="{{ url_for('add_todo') }}" method="post">
            {{ field.todo_form(form) }}
        </form>
        <table aria-describedby="todo" class="table table-bordered mb-2 w-100">
            <thead>
                <th colspan="5" class="text-center">
                    Todo list
                </th>
            </thead>
            <tr class="">
                <td>№</td>
                <td>Task to complete</td>
                <td>Status</td>
                <td>Category</td>
                <td>Actions</td>
            </tr>
            {% for task in todo %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.category }}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}