{% extends "base.html" %}
{% import "_fields.html" as field %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}
{% include "_flashes.html" %}
<div class="container mx-auto p-3">
    <div class="col-md-7 offset-md-3 border rounded p-3">
        <form action="{{ url_for('add_todo') }}" method="post">
            {{ field.todo_form(form) }}
        </form>
        <div class="table-responsive">
            <table aria-describedby="todo" class="table table-bordered mb-2">
                <thead>
                    <th colspan="5" class="text-center">
                        Todo list
                    </th>
                </thead>
                <tr class="text-center">
                    <td>№</td>
                    <td>Task to complete</td>
                    <td>Status</td>
                    <td>Category</td>
                    <td>Actions</td>
                </tr>
                {% for task in todo %}
                <tr class="container text-center">
                    <td>{{ loop.index }}</td> <!-- TODO: add list id -->
                    <td>{{ task.task }}</td>
                    <td>
                        {% if task.status != "Completed" %}
                        <div class="alert alert-secondary">{{ task.status }}</div>
                        {% else %}
                        <div class="alert alert-success">{{ task.status }}</div>
                        {% endif %}
                    </td>
                    <td>{{ task.category }}</td>
                    <td>
                        <div class="d-flex justify-content-center p-2">
                            <form action="{{ url_for('update_todo', id=task.id) }}" method="post" class="p-1">
                                <input type="submit" value="Update" class="btn btn-success">
                            </form>
                            <form action="{{ url_for('remove_todo', id=task.id) }}" method="post" class="p-1">
                                <input type="submit" value="Remove" class="btn btn-danger">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}