{% extends "base.html" %}
{% import "_post_fields.html" as field %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="d-flex justify-content-center gap-5 flex-wrap">
    <div class="flex-row align-items-center">
        <h1 class="title">Write post</h1>
    </div>
    <div class="flex-row">
        <div class="flex-column">
            <form action="{{ url_for('posts.create') }}" method="post" enctype="multipart/form-data">
                {{ field.write_post_form(form) }}
            </form>
        </div>
    </div>
</div>

{% endblock %}