/* Base html file styles */

/* Default font for header and footer */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Default font for content */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Pixelify+Sans&display=swap");

:root {
  --title: 40px;
  --content: 20px;
}

/* Bootstrap Style Addition */

.content{
  padding: 10vh;
}

/* End of the addition to the bootstrap styles */


/* Skills file styles */

@counter-style emojis {
  system: cyclic;
  symbols: 💻 🏃 🗣 🏦 📚 🤓;
  suffix: " ";
}

.skills > li {
  list-style: emojis;
  list-style-position: inside;
  line-height: 3.5vh;
  align-items: center;
}

.skills > li > a {
  text-decoration: none;
  color: black;
  font-size: var(--content);
}

ul.skills {
  display: block;
  text-align: center;
}

.title,
.skills > li > a,
.skill-desc {
  font-family: "Pixelify Sans", sans-serif;
}

h1.title,
.title {
  text-align: center;
  font-size: var(--title);
}

.skill-desc{
  padding: 0 20%;
  font-size: var(--content);
}

.skills li > a:hover{
  color: #177cdb9d;
}
