{% extends "base.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}
{% import '_fields.html' as field %}


<div class="container mx-auto">
    <div class="col-sm-6 offset-md-3">
        <form action="{{ url_for('logout') }}" method="post" class="form-check">
            {{ field.logout_form(logout_form) }}
        </form>
    </div>
</div>


<div class="container mx-auto p-3">
    <div class="col-sm-6 offset-md-3 border rounded">
        <form action="{{ url_for('info') }}" method="post" class="form-check">
            {{ field.change_password_form(password_form) }}
        </form>
    </div>
</div>


<div class="container mx-auto p-3">
    <div class="col-sm-6 offset-md-3 border rounded">
        <form action="{{ url_for('add_cookie') }}" method="post" class="form-check">
            {{ field.add_cookies_form(cookies_form) }}
        </form>
    </div>
</div>

<div class="container mx-auto p-3">
    <div class="col-sm-6 offset-md-3 border rounded">
        <form action="{{ url_for('remove_cookie') }}" method="post" class="form-check">
            {{ field.rm_cookies_form(cookies_form) }}
        </form>
    </div>
</div>


<div>
    <table class="border" aria-describedby="Show list of cookies">
        <thead>
            <tr>
                <th colspan="2">Cookies:</th>
            </tr>
        </thead>
        <tbody>
            {% for name in cookies %}
            <tr>
                <td> {{ name }}: </td>
                <td> {{ cookies.get(name) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}