{% extends "base.html" %}
{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{% if s_id == None %}
<div class="d-flex justify-content-center text-center flex-wrap gap-5 p-5 fs-5">
    <div class="row">
        <ul name="skills" class="skills">
            <label class="title" for="skills">My skills: </label>
            {% for s_id, (name, desc, percent) in my_skills.items() %}
            <li>
                <a href="{{ url_for('skills.skills_list', s_id=s_id) }}" class="p-sm-2">
                    {{ name }}
                    <div class="progress">
                        <div class="progress-bar w-{{ percent }}" role="progressbar"></div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <img class="px-5 img-fluid" src="{{ url_for('static', filename='images/background.png') }}" alt="background">
    </div>
</div>
{% else %}
<div>
    <div class="p-3">
        <h1 class="title">{{ my_skills.get(s_id)[0] }}</h1>
    </div>
    <div class="p-5">
        <p>{{ my_skills.get(s_id)[1] }}</p>
    </div>
</div>
{% endif %}

{% endblock %}