:root {
  --original-width: 300px;
}

ul.hobbies > li,
ul.tech-stack > li {
  list-style-type: decimal;
  list-style-position: inside;
}

.profile-pic {
  width: var(--original-width);
  transition-duration: 3s;
}

.profile-pic:hover {
  transform: rotateZ(360deg) scale(2.5) rotateY(360deg);
  transition-duration: 5s;
}