/* Base html file styles */

/* Default font for header and footer */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/* Default font for content */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans&display=swap');

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

a{
  text-decoration: none;
}

:root {
  --title: 40px;
  --content: 20px;
}

/* Bootstrap Style Addition */

.content{
  padding: 10vh;
  font-family: 'Open Sans', sans-serif;
}

h1.title,
.title {
  text-align: center;
  font-size: var(--title);
}