{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="flex-row">
        <h1 class="title fs-1">About</h1>
    </div>
    <div class="fs-5 p-5">
        <p>
            Hi there! My name is Arsen.
            I'm currently study at Prikarpatskiy National University in Ivano-Frankivsk.
        </p>
        <p>
            The list of my skills can be found
            <a href="{{ url_for('skills.show') }}">here</a>
        </p>
    </div>
</div>

{% endblock %}