<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    {% if s_id != None %}
    <h1 class="title">{{ my_skills.get(s_id) }}</h1>
    {% else %}
    <nav>
        <ul name="skills" class="skills">
            <label class="title" for="skills">My skills: </label>
            {% for skill in skills_amount %}
            <li><a href="{{ url_for('skills', s_id=skill) }}">{{ my_skills.get(skill)}}</a></li>
            {% endfor %}
            <img class="background" src="{{ url_for('static', filename='images/background.png') }}" alt="background">
        </ul>
    </nav>
    {% endif %}
    {% endblock %}
</body>

</html>